<h2>Stuff I'm working on right now</h2>
<div fxLayout="column">
  <app-project-card
    title="This website right here"
    subtitle="Angular 10 application"
    projecturl="https://codemastermick.com"
    avatarurl="./assets/logo_master.svg"
    description="I build web apps. Of course I made my own site. Everything you see on this domain was probably written directly by me or a code generator (Angular CLI rocks!)."
    projectrepo="https://github.com/codemastermick/codemasters-domain"
  ></app-project-card>

  <app-project-card
    title="Quadra Combat"
    subtitle="2D Unity game"
    projecturl="http://quadracombat.com"
    avatarurl="https://nextcloud.codemastermick.com/index.php/s/CQkCgKPAxwjpo5r/preview"
    description="Acting technical lead for the game, as well as helped the studio get started. Was the sole programmer on the project, working alongside a couple pixel artists and a musician."
  ></app-project-card>

  <app-project-card
    title="Sadbot"
    subtitle="NodeJS Discord bot"
    projecturl="https://github.com/codemastermick/little-sad"
    avatarurl="https://cdn.discordapp.com/avatars/736561598201725000/0a3257be40f2e1e1d9bb1ebe2f1ffb7e.png?size=64"
    description="I created and currently maintain a customized bot for helping oversee a Discord server. Sadbot provides a participation tracking system, has some special functionality built just for the pixel art theme of the server, and is under constant development, with changes being made pretty much weekly."
    projectrepo="https://github.com/codemastermick/little-sad"
  ></app-project-card>
</div>
