<div class="app" fxLayout="column">
  <app-sidenav>
    <app-toolbar></app-toolbar>
    <main>
      <mat-card class="info" *ngIf="underConstruction == true"
        >{{ title }} is undergoing active development. Your patience is
        appreciated while I get this done.</mat-card
      >
      <app-home></app-home>
      <!-- <mat-card>
        <div>
          <h2>Date picker</h2>
          <mat-form-field>
            <input
              matInput
              [matDatepicker]="picker"
              placeholder="Choose a date"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>

        <div>
          <h2>Chips</h2>
          <mat-chip-list aria-label="Fish selection">
            <mat-chip>One fish</mat-chip>
            <mat-chip>Two fish</mat-chip>
            <mat-chip color="primary" selected>Primary fish</mat-chip>
            <mat-chip color="accent" selected>Accent fish</mat-chip>
          </mat-chip-list>
        </div>
      </mat-card> -->

      <button mat-button><a href="https://www.paypal.com/cgi-bin/webscr?cmd=_donations&business=KZMAKWLFC5LJN&currency_code=CAD&source=url">Looking to buy me a coffee or something?</a></button>
      <!-- <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
        <input type="hidden" name="cmd" value="_donations" />
        <input type="hidden" name="business" value="KZMAKWLFC5LJN" />
        <input type="hidden" name="currency_code" value="CAD" />
        <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
        <img alt="" border="0" src="https://www.paypal.com/en_CA/i/scr/pixel.gif" width="1" height="1" />
        </form> -->



    </main>
  </app-sidenav>
</div>
