<div class="projectcard">
  <div fxLayout="row">
    <div fxLayout="column">
      <b class="title">{{ title }}</b>
      <p fxShow.lt-sm="false" fxShow="true" class="subtitle">{{ subtitle }}</p>
    </div>
    <div class="spacer"></div>
    <img
      class="avatar"
      [src]="avatarurl"
      alt="{{ title }} icon"
      width="40px"
      height="40px"
    />
  </div>

  <div class="desc">
    <p>{{ description }}</p>
  </div>

  <div>
    <a href="{{ projecturl }}">
      <button mat-button>Project website</button>
    </a>

    <a href="{{ projectrepo }}" *ngIf="projectrepo; else privaterepo">
      <button mat-button>Public code repository</button>
    </a>

    <ng-template #privaterepo>
      <button mat-button disabled>Code is private</button>
    </ng-template>
  </div>
</div>
