<mat-card class="projectcard" fxLayout="column">
  <mat-card-header>
    <div mat-card-avatar>
      <img
        [src]="avatarurl"
        alt="{{ title }} icon"
        width="40"
        height="40"
      />
    </div>
    <mat-card-title>{{ title }}</mat-card-title>
    <mat-card-subtitle>{{ subtitle }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    {{ description }}
  </mat-card-content>
  <mat-card-actions>
    <a href="{{ projecturl }}">
      <button mat-button>Project website</button>
    </a>
    <button mat-button>actionTwo</button>
  </mat-card-actions>
</mat-card>
