@import "../../../themeVariables.scss";

a {
  text-decoration: none;
  color: inherit;
}

.title {
  font-size: 1rem;
}

.title,
.subtitle {
  padding: 0.5rem 0.5rem 0.25rem;
}

.projectcard {
  margin: 1rem;
  max-width: 95vw;
  width: 95vw;
  transition: all 0.2s cubic-bezier(0.25, 0.8, 0.25, 1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-radius: 0.5rem;
  background-color: lighten($color: $accent, $amount: 5%);
}

.avatar {
  padding: 1rem 1rem 1rem;
}

.desc {
  font-size: 1rem;
  padding: 0rem 1rem 0rem;
}

.desc > p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.spacer {
  flex: 1 1 auto;
}

.projectcard:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.24), 0 10px 10px rgba(0, 0, 0, 0.48);
  .title {
    transition: all 0.1s linear;
    font-size: 1.25rem;
  }
  .subtitle {
    transition: all 0.1s linear;
    font-size: 1.25rem;
    font-style: italic;
  }
  .avatar {
    transition: all 0.1s linear;
    width: 60px;
    height: 60px;
  }
  .desc {
    transition: all 0.1s linear;
    font-size: 1.1rem;
    font-style: normal;
  }

  .desc > p {
    white-space: normal;
    overflow: visible;
    text-overflow:inherit;
  }
}

// @media screen and (max-width: 599px) {
//   .title {
//     padding: 0.5rem 0.5rem 0.25rem;
//   }
// }
